/* Add CSS Styling */
.element1{
    color: white;
    background-color: black;
}
.element2{
    background-color: yellow;
}
.element1, .element2{
    font-size: 28px;
    font-family: Helvetica,"Times New Roman",sans-serif;
}