.container .text {
  background-color: deeppink;
  color: #E00000;
  font-size: 20px;
  text-align: center;
}

/* Below are some other possible descendant combinators:

div p
div .text
.container p

*/
